<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Drink</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">
    <a th:href="@{/champagnes}" class="catalog-button">Каталог шампанского</a>
    <img th:src="${champagnes.getPhoto()}" th:alt="'Product Image'">
    <h1 th:text="${champagnes.getName()}"></h1>
    <p th:text="${champagnes.getDescription()}"></p>
    <p class="price" th:text="${champagnes.getPrice()} + ' руб/шт'"></p>
    <a th:href="@{/cart}" class="buy-button">Купить</a>
</div>

</body>
</html>
