<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Drink</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div>
        <a th:href="@{/energetics}" class="catalog-button">Каталог энергетиков</a>
        <img th:src="${energetics.getPhoto()}" th:alt="'Product Image'">
        <h1 th:text="${energetics.getName()}"></h1>
        <p th:text="${energetics.getDescription()}"></p>
        <p class="price" th:text="${energetics.getPrice()} + ' руб/шт'"></p>
        <a th:href="@{/cart}" class="buy-button">Купить</a>
    </div>
</div>
</body>
</html>
