<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Drink Store</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="header">
    <h1>Энергия в каждой банке!</h1>
    <p>Откройте для себя наш ассортимент освежающих энергетиков.</p>
    <div>
        <a th:href="@{/catalog}" class="btn btn-outline-light">Каталог</a>
        <a class="btn btn-light" th:href="@{/auth/login}">Вход в личный кабинет</a>
        <a th:href="@{/cart}" class="btn btn-outline-light">Корзина</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 mb-4" th:each="prod : ${lowAlcohols}">
            <div class="card h-100">
                <img th:src="${prod.getPhoto()}" class="card-img-top" th:alt="'Product image'">
                <div class="card-body d-flex flex-column">
                    <a th:href="@{/lowAlcohol/{id}(id=${prod.getId()})}" class="card-title black-link"
                       th:text="${prod.getName()}"></a>
                    <p th:text="${prod.getPrice()} + ' руб/шт'"></p>
                    <div class="button-container">
                        <a th:href="@{/cart}" class="buy-button">Купить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>
