<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="loginModalLabel">Вход в личный кабинет</h5>
        </div>
        <div class="modal-body">
            <form th:action="@{/process_login}" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required placeholder="Введите ваш email">
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" class="form-control" id="password" name="password" required placeholder="Введите ваш пароль">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Войти</button>
                <div th:if="${param.error}" class="text-danger">Неверные имя или пароль</div>
            </form>
            <a th:href="@{/auth/registration}">Еще не зарегистрированы?</a>
        </div>
    </div>
</div>

</body>
</html>
