<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование кабинета</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container mt-4">
    <div class="header">
        <h1>Добро пожаловать в редактирование кабинета!</h1>
        <p>Управляйте своим аккаунтом, изменяя свои данные.</p>
        <a th:href="@{/products}" class="btn btn-light">Каталог</a>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="sidebar text-center">
                <h5>Навигация</h5>
                <a th:href="@{/person_page}">Профиль</a>
                <a href="/orders">Заказы</a>
                <a href="/settings">Отзывы</a>
                <a th:href="@{/catalog}">Каталог</a>
                <a href="/logout" class="text-danger">Выйти</a>
            </div>
        </div>

        <div class="col-md-9">
            <div class="content">
                <h2>Редактирование профиля</h2>
                <form th:method="PATCH" th:action="@{/person_edit_page/{id}(id=${person.getId()})}" th:object="${person}">
                    <div class="form-group">
                        <label for="name">Имя пользователя</label>
                        <input th:field="*{username}" class="form-control" id="name" placeholder="Введите имя пользователя">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input th:field="*{email}" class="form-control" id="email" placeholder="Введите email">
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input th:field="*{password}" class="form-control" id="password" placeholder="Введите пароль">
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>
