/* Общие стили для всего сайта */
body {
    background-color: #f9f9f9; /* Более светлый фон */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Использование современного шрифта */
    margin: 0;
    padding: 0;
}

/* Стили для заголовков */
.header {
    text-align: center;
    background-color: #4a90e2; /* Измененный цвет фона для заголовка */
    color: white;
    padding: 30px 20px; /* Добавлены более крупные отступы */
    margin-bottom: 20px;
    border-radius: 10px;
}

.header h1 {
    font-size: 3rem;
    margin: 0; /* Убираем отступ */
}

.header p {
    font-size: 1.2rem;
}

/* Стили для боковой панели (sidebar) */
.sidebar {
    background-color: #ffffff; /* Сохранили желтый фон */
    padding: 20px;
    border-radius: 15px;
    height: auto; /* Сделаем высоту адаптивной */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar a {
    color: #333; /* Цвет текста */
    margin-bottom: 15px; /* Отступ между ссылками */
    text-align: center;
    display: block;
    padding: 12px 20px; /* Увеличенный отступ для ссылок */
    text-decoration: none;
    border-radius: 4px; /* Углы */
    transition: background-color 0.3s, color 0.3s; /* Плавные переходы */
    width: 100%; /* Занять всю ширину контейнера */
}

.sidebar a:hover {
    background-color: #4a90e2; /* Цвет фона при наведении */
    color: white; /* Цвет текста при наведении */
}


/* Стили для контента */
.content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px; /* Увеличены отступы */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Добавлена тень */
}

.form-group {
    margin-bottom: 1.5rem;
}

/* Стили для кнопок */
.btn {
    border-radius: 5px;
    padding: 10px 15px; /* Увеличены отступы */
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #4a90e2;
    border: none;
    color: white;
}

.btn-primary:hover {
    background-color: #357ab8; /* Более темный оттенок при наведении */
}

.btn-success {
    background-color: #28a745; /* Зеленая кнопка */
    border: none;
}

.btn-success:hover {
    background-color: #218838; /* Темно-зеленый при наведении */
}

/* Стили для сообщений об ошибках */
.alert {
    font-size: 0.9rem;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

/* Добавочные стили для улучшенного внешнего вида */
.container {
    max-width: 1200px;
    margin: 20px auto; /* Центрируем контейнер */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Каталог кнопка */
.catalog-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #17a2b8; /* Цвет кнопки */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.catalog-button:hover {
    background-color: #138496; /* Темный оттенок при наведении */
}

/* Изображение товара */
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Заголовок товара */
h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
}

/* Описание товара */
p {
    font-size: 1rem; /* Уменьшенный размер шрифта */
    line-height: 1.5;
    color: #666;
    margin-bottom: 10px;
}

/* Цена */
.price {
    font-size: 1.5rem;
    color: #000000;
    font-weight: bold;
    margin-bottom: 20px;
}

.buy-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6f61; /* Мягкий красный цвет */
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #e65c50; /* Темнее на наведение */
}

/* Стили для ссылок с изображениями */
.image-link {
    position: relative;
    display: block;
    overflow: hidden; /* Обеспечить скрытие лишнего контента */
}

.image-link img {
    transition: transform 0.3s ease; /* Плавный переход для масштабирования */
}

.image-link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.26);
    opacity: 0; /* Изначально скрыт */
    transition: opacity 0.3s ease; /* Плавный переход для оверлея */
}

.image-link:hover::after {
    opacity: 1; /* Показать оверлей при наведении */
}

.card-body {
    position: relative;
    z-index: 2; /* Убедитесь, что текст находится выше оверлея */
}

.card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    height: 400px; /* фиксированная высота карточки */
}
.card-title {
    font-size: 1.3rem;
    margin-top: 10px;
    text-align: center; /* центрируем текст */
}
.card:hover {
    transform: scale(1.05);
}
.card-img-top {
    height: 300px; /* фиксированная высота изображения */
    width: 100%; /* картинка займет всю ширину */
    object-fit: contain; /* сохраняем пропорции, показываем все изображение */
}
.black-link {
    color: black;
    text-decoration: none;
}
.black-link:hover {
    text-decoration: underline;
}
