<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование товара</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f4f4f4;
        }
        .card-img-top {
            height: 200px;
            object-fit: cover;
        }
        .content {
            background-color: white;
            border-radius: 15px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .form-group {
            margin-bottom: 1.5rem;
        }
        .create-form {
            margin-bottom: 20px;
        }
        @media (max-width: 768px) {
            .card {
                margin-bottom: 20px;
            }
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-12 create-form">
            <h2>Создание нового товара</h2>
            <form th:method="post" th:action="@{/strongAlcohol_create}" th:object="${strongAlcohol}">
                <div class="form-group">
                    <label for="nam">Имя</label>
                    <input th:field="*{name}" class="form-control" id="nam" placeholder="">
                    <div th:if="${#fields.hasErrors('name')}" class="text-danger">
                        <span th:errors="*{name}">Ошибка</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="p">Фото</label>
                    <input th:field="*{photo}" class="form-control" id="p" placeholder="">
                    <div th:if="${#fields.hasErrors('photo')}" class="text-danger">
                        <span th:errors="*{photo}">Ошибка</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="emai">Описание</label>
                    <input th:field="*{description}" class="form-control" id="emai" placeholder="">
                    <div th:if="${#fields.hasErrors('description')}" class="text-danger">
                        <span th:errors="*{description}">Ошибка</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pas">Цена</label>
                    <input type="number" th:field="*{price}" class="form-control" id="pas" placeholder="">
                    <div th:if="${#fields.hasErrors('price')}" class="text-danger">
                        <span th:errors="*{price}">Ошибка</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Создать товар</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12" th:each="strongAlcohol : ${product}">
            <div class="content">
                <img th:src="${strongAlcohol.getPhoto()}" class="card-img-top" alt="Изображение товара">
                <div class="card-body d-flex flex-column">
                    <a th:href="@{/strongAlcohol/{id}(id=${strongAlcohol.getId()})}" class="card-title black-link" th:text="${strongAlcohol.getName()}"></a>
                    <p th:text="${strongAlcohol.getPrice()} + ' руб/шт'"></p>
                    <h2>Редактирование</h2>
                    <form th:method="patch" th:action="@{/strongAlcohol/{id}(id=${strongAlcohol.getId()})}" th:object="${strongAlcohol}">

                        <div class="form-group">
                            <label for="name">Имя</label>
                            <input th:field="*{name}" class="form-control" id="name" placeholder="">
                            <div th:if="${#fields.hasErrors('name')}" class="text-danger">
                                <span th:errors="*{name}">Error message</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="photo">Фото</label>
                            <input th:field="*{photo}" class="form-control" id="photo" placeholder="">
                            <div th:if="${#fields.hasErrors('photo')}" class="text-danger">
                                <span th:errors="*{photo}">Error message</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description">Описание</label>
                            <input th:field="*{description}" class="form-control" id="description" placeholder="">
                            <div th:if="${#fields.hasErrors('description')}" class="text-danger">
                                <span th:errors="*{description}">Error message</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price">Цена</label>
                            <input th:field="*{price}" class="form-control" id="price" placeholder="">
                            <div th:if="${#fields.hasErrors('price')}" class="text-danger">
                                <span th:errors="*{price}">Error message</span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                    </form>

                    <form th:action="@{/strongAlcohol_delete/{id}(id=${strongAlcohol.getId()})}" th:method="delete" style="margin-top: 10px;">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>
